* {
    margin: 0px;
    padding: 0px;
}




/*Estilos del Header*/


 #header {
    background-color: ghostwhite;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    
}

.contenedor {
    display: flex;
    align-items: center;
}

.header__logo img{
    height: 90px;
    width: 90px;

}
.header__titulo h1 {
    font-family: 'Aclonica', sans-serif;
    color:rgb(0, 0, 255);
    font-size: 2.5rem;
    text-align:left;
    margin-left: 20px;
   
}

.header__section {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.header__buscador {
    border:groove;
    border-radius: 5px;
}
.header__buscador__input {
    border: none;
}

.fas {
    color: grey;
}

/*ESTILOS DEL NAV*/

.navbar {
    /* box-shadow: 0 0.3rem 0.3rem rgba(215, 214, 255, 0.808); */
    
}

.navbar__nav {
   background-color: white;
}

.navbar__nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
}

.navbar__nav__item {
    padding: 5px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1E26EB;
    background-color: white;
}

.navbar__nav__item:hover {
    background-color: #19D3DB;
}

.navbar__nav__item--submenu {
    position: relative;

}

.navbar__nav__item--submenu:hover .navbar__nav__list--dos{
    display: block;

}

.navbar__nav__list--dos {
    flex-direction: column;
    position: absolute;
    left: 0;
    min-width: 160px;
    background-color: white;
    display: none;
}

.navbar__nav__link {
    text-decoration: none;
    color: #1E26EB;
}

.main {
    margin-top: 5px;
    margin-bottom: 20px;
}
/*Presentación*/
.intro {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/destinos.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro__titulo {
    margin-top: 40px;
    font-style:oblique;
    font-size: 4rem;
    color:ghostwhite;
    position: relative;
}

.intro__parrafo {
    font-weight: bolder;
    font-family:sans-serif;
    font-size: 2rem;
    color: whitesmoke;
}

.intro__secciones {
    margin: 0;
    padding: 5%;
    height: auto;

}
.intro__texto {
    font-family:'Arial Narrow Bold', sans-serif;
    font-weight:normal;
    font-size: 2rem;
    color:#1E26EB;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
    
}

/*Secciones BOTON NAV*/
#secciones {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
   
}

.seccion {
    margin: 5px;
    width: 280px;
    height: 220px;
    background-color:ghostwhite;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    position: relative;
}

.seccion-img {
    width: 100%;
    height: 100%;
    position:absolute;  
}

.seccion a {
    text-decoration: none;   
}

.seccion-titulo {
    font-size: 1rem;
    position: relative;
    font-family:  sans-serif;
    font-weight: bold;
    color:white;
    background-color: #1E26EB;
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
    border-style:none;
    
}

.seccion-titulo:hover{
    transform: scale(1.1);
}

.section__boxes {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 1%;
    background-color: #1E26EB;
    width: 100%;
    height: auto;
    
}

.section__titulo {
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 2.5rem;
    color:white;
    

}

.section__imagen {
    width: 30%;
    height: 30%;


}

/*Estilos Bootstrap div Informacion*/
.container {
    margin-top: 5%;
    margin-left: 1%;
}

/*Paquetes - Poner flecha deslizar los boxes*/
#paquetes {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 500px;
}

.pack {
    border-radius: 5px 5px 5px 5px;
    /* width: 350px;
    height: 580px; */
    margin: 5px;
    background-color: ghostwhite;
    display: flex;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: "brandon", serif;
    text-align: center;
   

}

.pack img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    
  
}

.pack-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    font-size: 2rem;
    position: absolute;
    font-family: sans-serif;
    color: ghostwhite;
    text-align: center;
    

}


#index-paquetes {
    margin: 10px auto 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    max-width: 1200px;
}



/*ESTILOS HTML RESEÑAS*/

.seccion__comentarios {
    padding: 5%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    
}

.seccionReseñas {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 1px;
    border-style: solid ;
    border-color: #19D3DB;
    /* background-image: radial-gradient(circle,#19D3DB,#1E26EB); */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bolder;
}

.seccionReseñas__titulo {
    margin: 3px;
    padding: 10px;
    border-style: none;
    color: white;
    background-color: #1E26EB;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.seccionReseñas__item {
    margin: 5px;
    padding: 5px;
    /* border: solid #FE0057 2px ; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
}
.seccionReseñas label{
    padding: 12px;
}

.seccionReseñas__item textarea {
    width: 100%;
    grid-column: 1 / -1;
    
    
}
.seccionReseñas input {
    border-radius: 20px;
    
}

.reseña {
    grid-column: 1 / -1;
    text-align: center;
}
.reseña__uno {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    align-items: center;
    
}

.reseña__uno input {
    margin: 9px;
}

.seccionReseñas__terminos {
    grid-column: 1 / -1;
    text-align: center;
    
}

/*ESTILOS DEL FOOTER*/
#footer {
    display: flex;
    padding: 0px;
    width: 100%;
    height: 300px;
    border-top: solid rgb(77, 74, 74);
    /* background-image: linear-gradient(to left,  #00ffff, magenta); */
    background-color: rgb(219, 219, 219);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.footer__contacto {
    color: #FE0057;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, sans-serif;
}

.footer__link {
    text-decoration: none;
    color: #FE0057;
    
}

.footer__redes {
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.footer__icon {
    color: #fff;
    display: block;
    padding: 0.5rem;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    
}
.footer__icon:hover{
    transform: rotate(360deg);
    background: #fff;
}

.footer__icon.instagram:hover, .footer__icon.facebook:hover {
    border: 2px solid;
    background: white;
    color: #FE0057;
    border-color: #FE0057;
}
.footer__icon.instagram {
    background: #FE0057;
}
.footer__icon.instagram:hover {
    color: #FE0057;
    border-color: #FE0057;
}

.footer__icon.facebook {
    background: #2a4deb;
}
  
.footer__icon.facebook:hover {
    color: #2a4deb;
    border-color: #2a4deb;
}

/*SECCION CARDS ANIMADAS INDEX*/
.card-index {
    /* padding: 3%; */
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
}
  
.card-index-cards {
    
    width: 380px;
    height: 410px;
    margin: 2%;
    background-color: ghostwhite;
    display: inline-block;
    background-size: cover;
    position: relative;
    transition: all 0.4s ease-out;
    overflow: hidden;
    color: #FE0057;
    font-family: sans-serif;
    text-align: center; 
}
  
.card-index-cards img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out; 
}
  
.card-index-cards .text {
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px); 
}
  
.card-index-cards h1 {
    border: none;
    border-radius: 2px;
    background-color: ghostwhite;
    margin: 0; 
}
  
.card-index-cards h2 {
    margin: 20px 0 0 0;
    transform: translateX(200px);
    font-family: sans-serif; 
}
  
.card-index-cards p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px 0 0 0;
    line-height: 25px;
    transform: translateX(-200px);
    transition-delay: 0.2s; 
}
  
.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out; 
}
  
.card-index-cards:hover {
    transform: scale(1.05); 
}
  
.card-index-cards:hover h1 {
    color: #1E26EB; 
}
  
.card-index-cards:hover img {
    opacity: 0.4; 
}
  
.card-index-cards:hover .animate-text {
    transform: translateX(0);
    opacity: 1; 
}
  

/*MEDIA QUERIES INDEX*/

@media screen and (max-width:992px) {
     .card-index {
        grid-template-columns: repeat(2,1fr);
        

     }

    
}

@media screen and (max-width:576px) {
    .card-index {
       grid-template-columns: 1fr;
       

    }

   
}

/* Estilos de VUELOS.HTML */
  



