body {
    margin: 0px;
    padding: 0px;
    border: none;
}
#header-content {
    background-color: rgb(94, 253, 245);
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    
}
.header__logo img {
    width: 135px;
    height:135px;
}
.header__titulo header h1 {
    font-family: 'Aclonica', sans-serif;
}
.header__menu ul {
    display:flex;
}
.header__menu ul li {
    margin: 10px;
}
.header__menu ul li ul li {
    display: none;
}
#imagen {
    margin: 0px;
    padding:100px;
    align-content: center;
}
#imagen img{
    width: 1300px;
    height: 600px;

}

#secciones {
    margin: 1px;
    padding: 10px;
    border: groove;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}
.seccion__destinos {
    margin: 10px 10px 10px 10px;
    padding: 200px;
    border: groove;
    position: relative;
    background-image: url(../imagenes/bigben.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion__vuelos {
    margin: 10px 10px 10px 10px;
    padding: 200px;
    border: groove;
    position: relative;
    background-image: url(../imagenes/vuelos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion__hoteles {
    margin: 10px 10px 10px 10px;
    padding: 200px;
    border: groove;
    position: relative;
    background-image: url(../imagenes/hoteles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion__paquetes {
    margin: 10px 10px 10px 10px;
    padding: 200px;
    border: groove;
    position: relative;
    background-image: url(../imagenes/paquetes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion__reseñas {
    margin: 10px 10px 10px 10px;
    padding: 200px;
    border: groove;
    position: relative;
    background-image: url(../imagenes/reseñas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}